@model InsurancePlansNetCore_web.Controllers.AutoModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container auto-step1">
    <form asp-controller="Auto" asp-action="Step2">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="title">
                    Are you currently insured?
                </div>
                <div class="description">
                    Select "Yes" if you have active car insurance as of today.
                </div>
            </div>
            <div class="form-group col-md-6">
                @foreach (var answer in Model.CurrenttlyInsuranceAnswers)
                {
                    <div class="question_answer d-inline-flex">
                        @Html.RadioButtonFor(model => model.CurrentlyInsure, answer)
                        @answer
                    </div>
                }
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="title">
                    Do you own or rent your home?
                </div>
                <div class="description">
                    Homeowners need to protect their home and the things they own. Renters just need to cover the things they own.
                </div>
            </div>
            <div class="form-group col-md-6">
                @foreach (var answer in Model.OwnHomeOptions)
                {
                    <div class="question_answer">
                        @Html.RadioButtonFor(model => model.OwnHome, answer)
                        @answer
                    </div>
                }
            </div>
        </div>
        <div class="form-group col-md-12">
            <button class="btn btn-primary">Save & Continue</button>
        </div>
    </form>
</div>