@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="inplans">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="ZipCode" id="zipcode" placeholder="Zip Code">
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </form>
</div>
